@layout("layout.html", {title: "欢迎页"}){
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div>
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>项目采用Maven分模块构建，方便扩展自定义模块。</li>
            <li>前端采用adminLTE、vue.js、bootstrap-table、ztree、layer、Beetl模板引擎</li>
            <li>后端采用SpringBoot、Mybatis</li>
            <li>数据采用MySQL</li>
            <li>前后台交互采用Dubbo</li>
            <li>对象之间的copy用dozer</li>
            <li>各位大神可不要996icu哦</li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#dpLTE'
    });
</script>
@}